body{
    position:relative;
    background-color: #282828;
}

p{
    color: whitesmoke;
}

h1{
    position: relative;
    color: whitesmoke;
    font-family: 'Russo One', sans-serif;
    font-size: 80px;
}

h2{
    position: relative;
    color: whitesmoke;
    font-family: 'Russo One', sans-serif;
    font-size: 20px;
}

h3{
    position: relative;
    color: whitesmoke;
    font-family: 'Russo One', sans-serif;
    font-size: 150%;
    margin-bottom: 1%;
}

div.Custom-Title{
    position:absolute;
}

div.Custom-Link{
    position:absolute;
    top: 7%;
    left: -54%;
}

div.feed{
    background-color: #2d2d2d;
}

div.CustomImageSpacer{
    padding-bottom: 20px;
}

#video-background{
    display: block;
    position: static;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    width:100%;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 5px;
    margin-bottom: 20px;
    
}

div.jumbotron{
    position: relative;
    z-index:-101;
}

a.CustomHyperlink{
    position: relative;
    transition: transform .2s ease-in-out;
}

a.CustomHyperlink:hover{
    position: relative;
    transform: translate3d(200px, 20px, 0px);
}

img.CustomMenu{
    width:15%;
    height: 15%;
    transition: transform .2s ease-in-out;
}

img.CustomMenu:hover{
    transform: translate3d(50%, 0px, 0px);
    width:15%;
    height: 15%;
}

